CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
build/
Build/

*.exe
*.out
*.app
*.dll
*.lib
*.so
*.dylib

*.vcxproj*
*.sln
*.user
*.filters
*.vcxproj.*
*.ncb
*.sdf
*.opensdf
*.obj
*.idb
*.log
*.tlog
*.pdb
*.ipch
*.iobj
*.ipdb
.vs/

.idea/
cmake-build-*/
*.iml

.vscode/
*.code-workspace

.DS_Store
Thumbs.db
*.log
*.swp
*.tmp
*.bak

__pycache__/
*.pyc
*.pyo
*.pyd

bin/
lib/
